{% extends '../base.twig' %}
{% set servicesTopic = 'Проектирование инженерных сетей' %}

{% block title %}Проектирование инженерных сетей{% endblock %}

{% block content %}
<section class="navigation">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">Услуги</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="../electric-installation.html" class="breadcrumbs__link">Электоромонтажные работы </a>
            </li>
            <li class="breadcrumbs__item">
                <span class="breadcrumbs__link">{{ servicesTopic }}</span>
            </li>
        </ul>
    </div>
</section>
<section class="electric-installation-about">
    <div class="container">
        <h1 class="electric-installation-about__title _h1 _h1-installation">Проектирование инженерных сетей</h1>
        <p class="electric-installation-about__text">ГК АПЕКС-энерго выполняет полный комплекс работ по проектированию систем электроснабжения и
            освещения, расчет окупаемости проекта и подготовки сметной документации. При разработке проектной документации
            нами определяются архитектурные, функционально-технологические и инженерно-технические решения. Производится
            расстановка светильников, розеток, электрощитов и другого оборудования.

            Мы предлагаем вам профессиональное составление сметной документации на электромонтажные работы. И Готовы
            подготовить для вашего проекта комплексную или локальную смету. <br> <br>
            <span class="_red">1.</span> Комплексная смета. В документе прописываются расходы на проведение работ по всему объекту (во всех помещениях
            конкретного предприятия, конторы и т.д.) <br> <br>
            <span class="_red">2.</span> Локальная смета. Учитывается стоимость работ в отдельно взятом помещении
            В зависимости от объекта мы готовы выполнить проектирование сопутствующих слаботочных сетей: пожарная
            сигнализация и оповещение, локальные сети и т.д.
        </p>
    </div>    
</section>
<section class="contact-form-services _main-section">
    <div class="container">
        <h2 class="contact-form-services__title _h2">Получите полный расчет проекта бесплатно</h2>
        {% include '../blocks/contact-form-services.twig' %}
    </div>
</section>
{% endblock %}