{% extends '../base.twig' %}

{% block title %}Электромонтажные работы{% endblock %}

{% block content %}
    <section class="navigation">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Услуги</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="../electric-installation.html" class="breadcrumbs__link">Электоромонтажные работы </a>
                </li>
            </ul>
        </div>
    </section>
    {% set data = [
        {
            col: 'col-12 col-md-6',
            back: '/img/electric-installation/service1.jpg',
            title: 'Энергоаудит объекта',
            link: '#'
        },
        {
            col: 'col-12 col-sm-6 col-md-3',
            back: '/img/electric-installation/service2.jpg',
            title: 'Проектирование и подготовка сметной документации',
            link: '#'
        },
        {
            col: 'col-12 col-sm-6 col-md-3',
            back: '/img/electric-installation/service3.jpg',
            title: 'Монтаж/демонтаж внешнего и внутреннего освещения ',
            link: '#'
        },
        {
            col: 'col-12 col-sm-6 col-md-3',
            back: '/img/electric-installation/service5.jpg',
            title: 'Настройка системы «умный свет» ',
            link: '#'
        },
        {
            col: 'col-12 col-sm-6 col-md-3',
            back: '/img/electric-installation/service6.jpg',
            title: 'Монтаж электрощитового оборудования',
            link: '#'
        },
        {
            col: 'col-12 col-sm-6 col-md-3',
            back: '/img/electric-installation/service7.jpg',
            title: 'Прокладка инженерных сетей',
            link: '3'
        },
        {
            col: 'col-12 col-sm-6 col-md-3',
            back: '/img/electric-installation/service7.jpg',
            title: 'Пусконаладочные работы',
            link: '#'
        },
    ] %}
    <section class="electric-installation-about">
        <div class="container">
            <h1 class="electric-installation-about__title _h1 _h1-installation">Электромонтажные работы</h1>
            <div class="row">
                {% for item in data %}
                    <div class="services__item {{ item.col }}">
                        <a href="{{ item.link }}" class="services__item-link _darken"><img src="{{ item.back }}" alt="..."></a>
                        <div class="electric-installation-service-caption">
                            <p>{{ item.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <p class="electric-installation-about__text">Группа компаний «АПЕКС-энерго» осуществляет весь спектр электромонтажных работ, выполняя
                проекты «под ключ» по всей России. Инженеры электромонтажного подразделения компании не только подготовят для
                Вас детальное ценовое предложение, но и поспособствуют в сохранении финансовых средств путём аудита и разработки
                технического решения. Сотрудники подберут качественное и подходящее по цене оборудование, комплектующие и
                материалы.
            </p>
            <div class="row">
                <div class="col-sm-6 col-xl-2">
                    <p class="electric-installation-about__data"><span class="_red-big">8</span>лет на рынке</p>
                </div>
                <div class="col-sm-6 col-xl-4">
                    <p class="electric-installation-about__data"><span class="_red-big">2 015</span>проектов реализовано</p>
                </div>
                <div class="col-sm-7 col-xl-4">
                    <p class="electric-installation-about__data"><span class="_red-big">96 000</span>светильников установлено</p>
                </div>
                <div class="col-sm-5 col-xl-2">
                    <p class="electric-installation-about__data"><span class="_red-big">2</span>бригады монтажников</p>
                </div>
            </div>
        </div>
    </section>
    <section class="contact-form-services _main-section">
        <div class="container">
            <h2 class="contact-form-services__title">Электромонтажные работы “под ключ”</h2>
            <p class="contact-form-services__text">Скидка при первом обращении. Звоните сейчас</p>
            {% include '../blocks/contact-form-services.twig' %}
        </div>
    </section>
    <section class="electric-installation-advantages">
        <div class="container">
            <h2 class="electric-installation-advantages__title _h2">Почему нас выбирают заказчики?</h2>
            <div class="row">
                <div class="col-6 col-lg-4 electric-installation-advantages__item">
                    <img src="/img/electric-installation/advantages-icon1.svg">
                    <p class="electric-installation-advantages__item-text">Адекватная цена</p>
                </div>
                <div class="col-6 col-lg-5 electromontag-advantages__item">
                    <img src="/img/electric-installation/advantages-icon2.svg">
                    <p class="electric-installation-advantages__item-text">Квалифицированные специалисты</p>
                </div>
                <div class="col-6 col-lg-3 electric-installation-advantages__item">
                    <img src="/img/electric-installation/advantages-icon5.svg">
                    <p class="electric-installation-advantages__item-text">Работа «под ключ»</p>
                </div>
                <div class="col-6 col-lg-4 electric-installation-advantages__item">
                    <img src="/img/electric-installation/advantages-icon3.svg">
                    <p class="electric-installation-advantages__item-text">Работа по договору</p>
                </div>
                <div class="col-6 col-lg-5 electric-installation-advantages__item">
                    <img src="/img/electric-installation/advantages-icon4.svg">
                    <p class="electric-installation-advantages__item-text">Свидетельство СРО, ISO 9001:2015, OHASAS18001:2007</p>
                </div>
                <div class="col-6 col-lg-3 electric-installation-advantages__item">
                    <img src="/img/electric-installation/advantages-icon6.svg">
                    <p class="electric-installation-advantages__item-text">Реальная гарантия</p>
                </div>
            </div>
        </div>
    </section>
    <section class="info _main-section">
        <div class="container">
            <h2 class="info__title _h2">Для кого подходят услуги</h2>
            <p class="info__text">Услугами электромонтажа активно пользуются - промышленные предприятия, складские комплексы и
                крупные распределительные центры, жилые и коммерческие здания, торгово-развлекательные комплексы, центры
                обработки данных, бизнес-центры и т. д.
                <br><br>
                За 8 лет работы, наши специалисты осуществляли монтажные работы на следующих объектах:
            </p>
            <ul class="info__list">
                <li><span>Промышленные предприятия</span></li>
                <li><span>Складские комплексы</span></li>
                <li><span>Торговые центры и магазины</span></li>
                <li><span>Бизнес центры и офисные помещения</span></li>
                <li><span>Спортивные сооружения и фитнес-клубы</span></li>
                <li><span>Датчики открытия двери, окна, дверцы и так далее</span></li>
                <li><span>Жилые и административные здания</span></li>
                <li><span>Гостиницы и рестораны</span></li>
                <li><span>Больницы и медицинские центры</span></li>
            </ul>
        </div>
    </section>
    {% include '../blocks/clients.twig' %}
    <section class="_last-section">
    </section>
{% endblock %}