{% extends '../base.twig' %}
{% set servicesTopic = 'Энергоаудит' %}

{% block title %}Энергоаудит{% endblock %}

{% block content %}
    <section class="navigation">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Услуги</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="../electric-installation.html" class="breadcrumbs__link">Электоромонтажные работы </a>
                </li>
                <li class="breadcrumbs__item">
                    <span class="breadcrumbs__link">{{ servicesTopic }}</span>
                </li>
            </ul>
        </div>
    </section>
    <section class="electric-installation-about">
        <div class="container">
            <h1 class="electric-installation-about__title _h1 _h1-installation">Энергоаудит</h1>
            <p class="electric-installation-about__text">
                Энергетическое обследование (энергоаудит) - это всесторонняя оценка деятельности организации, предприятия, связанная с затрат на энергию различных видов, топливо, воду и некоторые энергоносители.
                Главная задача энергоаудита - выявить нерациональное использование энергоресурсов и предложить заказчику мероприятия по энергосбережению, которые позволят сократить затраты на энергопотребление.
                Стоит помнить, энергоаудит - это специфический вид работ, который может выполнять специализированная организация, имеющая подготовленных специалистов.
            </p>
        </div>
    </section>
    <section class="contact-form-services _main-section">
        <div class="container">
            <h2 class="contact-form-services__title _h2">Получите полный расчет проекта бесплатно</h2>
            {% include '../blocks/contact-form-services.twig' %}
        </div>
    </section>
    <section class="info _main-section">
        <div class="container">
            <h2 class="info__title _h2">Для чего необходим энергоаудит</h2>
            <ul class="info__list">
                <li><span>Сократить затраты на отопление, электроэнергию, газ, воду</span></li>
                <li><span>Найти потери и утечки тепла, воды, электроэнергии и устранить их</span></li>
                <li><span>Выполнить требования ФЗ №261, сделать энергопаспорт и программу энергосбережения</span></li>
                <li><span>Перед ремонтом, например, для того, чтобы понять какие окна необходимо менять, какой утеплитель ставить, какая система освещения подойдет вам лучше и т.д.</span></li>
            </ul>
            <p class="info__text">Энергоаудит предприятия следует начать с технического задания.
                <br><br>
                В техническом задании для энергитического обследования необходимо отразить работы, которые, необходимо выполнить.
                Например, это может быть только экспресс обследование, с минимальным бюджетом, для удовлетворения требований федерального закона №261.
                В других случаях, может быть необходимо обследовать только здания или котельную, или систему электроснабжения.
                Все это необходимо указать в техническом задании.
            </p>
        </div>
    </section>
    <section class="contact-form-services _main-section">
        <div class="container">
            <h2 class="contact-form-services__title">Решили провести энергетическое обследование?</h2>
            <p class="contact-form-services__text">Свяжитесь с нами</p>
            {% include '../blocks/contact-form-services.twig' %}
        </div>
    </section>
    <section class="info _main-section _last-section">
        <div class="container">
            <h2 class="info__title _h2">Как проводится энергоаудит</h2>
            <ul class="info__list _order">
                <li>1.<span>Сбор исходных данных</span></li>
                <li>2.<span>Выезд на обследуемый объект</span></li>
                <li>3.<span>Анализ существующих договорных условий с энергоснабжающими организациями</span></li>
                <li>4.<span>Анализ затрат на электричество, тепло, воду, газ</span></li>
                <li>6.<span>Инструментальное обследование зданий, сооружений, основного технологического оборудования, котельной</span></li>
                <li>7.<span>Анализ полученных данных, расчеты, определение мест потерь и утечек</span></li>
                <li>8.<span>Разработка отчета по энергоаудиту, энергопаспорта, техническое заключение</span></li>
                <li>9.<span>Согласование мероприятий по энергосбережению с заказчиком</span></li>
                <li>10.<span>Внедрение мероприятий по энергосбережению, сокращение затрат.</span></li>
            </ul>
        </div>
    </section>
{% endblock %}