{% extends '../base.twig' %}
{% block title %}Главная{% endblock %}

{% block content %}
    {% include '../layouts/subheader.twig' %}
    {% include '../blocks/intro.twig' %}
    {% include '../blocks/gallery.twig' %}
    {% include '../blocks/sales.twig' %}
    {% include '../blocks/projects.twig' %}
    <div class="container">
        <div class="video-content">
            <video id="main-video" width="100%" height="100%" poster="/img/index/main.jpg" controls>
                <source src="/img/index/main.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    {% include '../blocks/contact-form-index.twig' %}
    {% include '../blocks/reviews.twig' %}

    {% set data = [
        {
            col: '6',
            back: '/img/blocks/services/service1.jpg',
            title: 'Монтаж светильников',
            text: 'Монтаж и качественная установка светодиодных потолочных светильников',
            link: '#'
        },
        {
            col: '6',
            back: '/img/blocks/services/service1.jpg',
            title: 'Светотехнический расчет',
            text: 'Расчет освещенности и подбор осветительных приборов',
            link: '#'
        },
        {
            col: '6',
            back: '/img/blocks/services/service1.jpg',
            title: 'Электромонтаж "под ключ"',
            text: 'Весь спектр электромонтажных работ',
            link: '#'
        },
        {
            col: '6',
            back: '/img/blocks/services/service2.jpg',
            title: 'Калькулятор освещения',
            text: 'Предварительный расчет освещенности',
            link: '#'
        }
    ] %}

    <section class="services _main-section">
        <div class="container">
            <h2 class="services__title">Услуги</h2>
            <div class="row">
                {% for item in data %}
                    <div class="services__item col-md-{{ item.col }}">
                        <a href="{{ item.link }}" class="services__item-link _darken"><img src="{{ item.back }}" alt="..."></a>
                        <div class="services__item-caption">
                            <h3>{{ item.title }}</h3>
                            <p class="services__item-text">{{ item.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include '../blocks/clients.twig' %}
    {% include '../blocks/how-work.twig' %}
    {% include '../blocks/contact-form-index.twig' %}
    {% include '../blocks/news.twig' %}
{% endblock %}