{% extends '../base.twig' %}
{% set servicesTopic = 'Прокладка инженерных сетей' %}

{% block title %}Прокладка инженерных сетей{% endblock %}

{% block content %}
<section class="navigation">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">Услуги</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="../electric-installation.html" class="breadcrumbs__link">Электоромонтажные работы </a>
            </li>
            <li class="breadcrumbs__item">
                <span class="breadcrumbs__link">{{ servicesTopic }}</span>
            </li>
        </ul>
    </div>
</section>
<section class="electric-installation-about">
    <div class="container">
        <h1 class="electric-installation-about__title _h1 _h1-installation">Прокладка инженерных сетей</h1>
        <p class="electric-installation-about__text">Прокладка инженерных сетей в промышленных зданиях, спортивных сооружений, торговых или
            офисных помещений, является одним из важнейших этапов строительства или реконструкции. От качества выполнения
            данных работ, профессионализма сотрудников зависит эффективность эксплуатации объекта, а также надежное
            функционирование и безопасность. Именно поэтому, рекомендуем вам воспользоваться электромонтажными услугами
            нашей компании.
        </p>
    </div>    
</section>
<section class="contact-form-services _main-section">
    <div class="container">
        <h2 class="contact-form-services__title _h2">Получите полный расчет проекта бесплатно</h2>
        {% include '../blocks/contact-form-services.twig' %}
    </div>
</section>
<section class="info _main-section _last-section">
    <div class="container">
        <h2 class="info__title _h2">Какие работы проводятся</h2>
        <p class="info__text">Мы готовы осуществить монтаж, прокладку следующих видов инженерных сетей - электроснабжения,
            слаботочные сети, вентиляцию, теплоснабжения.</p>
        <ul class="info__list">
            <li><span>Установка активной и пассивной молниезащиты;</span></li>
            <li><span>Монтаж защитного контура заземления;</span></li>
            <li><span>Монтаж сетей освещения (монтаж осветительных шинопроводов, выключателей, датчиков движения);</span></li>
            <li><span>Монтаж соединительных и концевых муфт для любых типов кабеля;</span></li>
            <li><span>Монтаж лотков и коробов;
                    Прокладка кабельных линий;</span></li>
            <li><span>Установка выключателей и розеток;</span></li>
            <li><span>УПрокладка высоковольтных и низковольтных кабелей;</span></li>
        </ul>
    </div>    
    </section>
{% endblock %}