{% extends '../base.twig' %}
{% set servicesTopic = 'Профессиональный монтаж систем освещения' %}

{% block title %}Профессиональный монтаж систем освещения{% endblock %}

{% block content %}
    <section class="navigation">
        <div class="container">
            <ul class="breadcrumbs">
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="/" class="breadcrumbs__link">Услуги</a>
                </li>
                <li class="breadcrumbs__item">
                    <a href="../electric-installation.html" class="breadcrumbs__link">Электоромонтажные работы </a>
                </li>
                <li class="breadcrumbs__item">
                    <span class="breadcrumbs__link">{{ servicesTopic }}</span>
                </li>
            </ul>
        </div>
    </section>
    <section class="electric-installation-about">
        <div class="container">
            <h1 class="electric-installation-about__title _h1 _h1-installation">Профессиональный монтаж систем освещения</h1>
            <p class="electric-installation-about__text">Электромонтажный отдел компании квалифицированно осуществляет демонтаж и монтаж уличных, спортивных, торговых,
            складских, промышленных светильников и фасадной подсветки. Силами наших специалистов может быть смонтировано любое
            осветительное оборудование, и не только поставляемое ГК АПЕКС-энерго, но и ранее закупленного самими вами.
            
            Стоит помнить, что от профессионализма специалистов и качества монтажа светильников зависит их последующая безопасная
            эксплуатация.
            </p>
        </div>    
    </section>
    {% set data = [
        {
            col: 'col-12 col-md-6',
            back: '/img/electric-installation/prof-installation-service1.jpg',
            title: 'Монтаж внутреннего освещения',
            link: '#'
        },
        {
            col: 'col-12 col-md-6',
            back: '/img/electric-installation/prof-installation-service2.jpg',
            title: 'Монтаж уличного освещения',
            link: '#'
        }
    ] %}
    <section class="services _main-section">
        <div class="container">
            <h2 class="services__title">Услуги</h2>
            <div class="row">
                {% for item in data %}
                    <div class="services__item {{ item.col }}">
                        <a href="{{ item.link }}" class="services__item-link _darken"><img src="{{ item.back }}" alt="..."></a>
                        <div class="electric-installation-service-caption">
                            <p>{{ item.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="contact-form-services _main-section">
        <div class="container">
            <h2 class="contact-form-services__title _h2">Получите полный расчет проекта бесплатно</h2>
            {% include '../blocks/contact-form-services.twig' %}
        </div>
    </section>
    <section class="prof-installation-advantages _main-section _last-section">
        <div class="container">
            <h2 class="prof-installation-advantages__title _h2">Преимущества монтажа специалистами ГК АПЕКС-энерго</h2>
            <div class="prof-installation-advantages__item">
                <img src="/img/electric-installation/advantages-icon2.svg">
                <p class="prof-installation-advantages__item-text">Работы выполняются квалифицированными электриками-монтажниками. Компания
                    располагает необходимые документами и допусками для проведения электротехнических работ</p>
            </div>
            <div class="prof-installation-advantages__item">
                <img src="/img/electric-installation/advantages-icon5.svg">
                <p class="prof-installation-advantages__item-text">Гарантия предоставляется как на светильники и сопутствующие оборудование,
                    так и на электромонтажные работы</p>
            </div>
            <div class="prof-installation-advantages__item">
                <img src="/img/electric-installation/advantages-icon4.svg">
                <p class="prof-installation-advantages__item-text">РЭлектромонтажные работы осуществляем по договору. Тем самым вы снижаете
                    риск ненадлежащего исполнениями нами работ, оказания услуг</p>
            </div>
            <p class="prof-installation-advantages__text">
                Цены на проектирование и установку светодиодного освещения зависит от сложности проекта, количества
                светильников и места. При заказе услуги монтажа освещения, мы предоставим вам самые выгодные цены. Для
                расчета стоимости вашего варианта позвоните нам или заполните форму и мы свяжемся с вами.

                В соответствие с действующей нормативной базой существует целый ряд электротехнических правил и норм,
                которые должны строго соблюдаться в процессе монтажа светильников
            </p>
        </div>    
    </section>
{% endblock %}