{% extends '../base.twig' %}
{% set servicesTopic = 'Монтажа и настройка системы «умный свет»' %}

{% block title %}Монтажа и настройка системы «умный свет»{% endblock %}

{% block content %}
<section class="navigation">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="/" class="breadcrumbs__link">Услуги</a>
            </li>
            <li class="breadcrumbs__item">
                <a href="../electric-installation.html" class="breadcrumbs__link">Электоромонтажные работы </a>
            </li>
            <li class="breadcrumbs__item">
                <span class="breadcrumbs__link">{{ servicesTopic }}</span>
            </li>
        </ul>
    </div>
</section>
<section class="electric-installation-about">
    <div class="container">
        <h1 class="electric-installation-about__title _h1 _h1-installation">Монтажа и настройка системы «умный свет»</h1>
        <p class="electric-installation-about__text">Оборудование «умного освещения» («умный свет») предназначено для управления внутренними и
            наружными осветительными приборами. В структуру «умный свет» входит само освещение, комплекс средств фиксации и
            интеллектуальная система управления.

            Монтаж и настройку системы должны осуществлять специалисты имеющие большой опыт работы с данной интеллектуально
            архитектурой.
        </p>
    </div>    
</section>
<section class="contact-form-services _main-section">
    <div class="container">
        <h2 class="contact-form-services__title _h2">Получите полный расчет проекта бесплатно</h2>
        {% include '../blocks/contact-form-services.twig' %}
    </div>
</section>
<section class="info _main-section">
    <div class="container">
        <h2 class="info__title _h2">Система управления освещением может включать в себя</h2>
        <ul class="info__list">
            <li><span>Умные выключатели, способные включаться и выключаться автоматически</span></li>
            <li><span>Умные диммеры, способные автоматически менять мощность освещения</span></li>
            <li><span>Светильники</span></li>
            <li><span>Датчики движения</span></li>
            <li><span>Датчики присутствия</span></li>
            <li><span>Датчики открытия двери, окна, дверцы и так далее</span></li>
            <li><span>Датчики освещенности</span></li>
            <li><span>Дополнительные дистанционные</span></li>
            <li><span>Шкаф управления</span></li>
            <li><span>Роутер</span></li>
        </ul>
        <p class="info__text">После глобальной настройки системы нашими сотрудниками Вам останется только наслаждаться его
            функциональностью. Пользователь задает условия, в зависимости от которых изменяется интенсивность светового
            потока, включаются и выключаются определенные светильники. К ним можно отнести погодные условия, цикл дня и
            ночи.
        </p>
    </div>
</section>
<section class="smart-light-advantages _main-section _last-section">
    <div class="container">
        <h2 class="smart-light-advantages__title _h2">Преимущества установки системы</h2>
        <p class="smart-light-advantages__text">
            ЦВо время монтажа «умного света» устанавливаются светильники, контроллеры, датчики фиксации движения и
            естественного освещения, роутеры, шкаф управления. А дальше закачивается и настраивается на телефон, планшет или
            компьютер специальная программа (приложение), через которую идет контроль и управление освещением.
        </p>
        <div class="row">
            <div class="col-6 col-sm-3 umnii-svet-advantages__item">
                <img src="/img/electric-installation/advantages-icon7.svg">
                <p class="smart-light-advantages__item-text">Экономия электроэнергии
                    до 90%</p>
            </div>
            <div class="col-6 col-sm-3 umnii-svet-advantages__item">
                <img src="/img/electric-installation/advantages-icon8.svg">
                <p class="smart-light-advantages__item-text">Увеличение срока службы светильников</p>
            </div>
            <div class="col-6 col-sm-3 umnii-svet-advantages__item">
                <img src="/img/electric-installation/advantages-icon9.svg">
                <p class="smart-light-advantages__item-text">Автоматические системы освещения без участия человека</p>
            </div>
            <div class="col-6 col-sm-3 umnii-svet-advantages__item">
                <img src="/img/electric-installation/advantages-icon5.svg">
                <p class="smart-light-advantages__item-text">Контроль затрат электроэнергии</p>
            </div>
        </div>
    </div>    
</section>
{% endblock %}