<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/main.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body class="body">
{% include 'layouts/header.twig' %}
<div class="overlay hidden"></div>
<main class="main">
    {% block content %}{% endblock %}
</main>
{% include 'layouts/footer.twig' %}
<div class="hidden">{% include "../img/sprite-inline.svg" %}</div>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../libs/jquery.mask.min.js"></script>
<script src="../libs/jquery.sticky.js"></script>
<script src="../../libs/fancybox/jquery.fancybox.min.js"></script>
<script src="../../libs/owlcarousel/owl.carousel.min.js"></script>
{% block scripts %}{% endblock %}
<script src="../js/main.js"></script>
</body>