.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {
		position: absolute;
		top: 42%;
		margin-top: 0;
		width: 100%;
		text-align: center;
		-webkit-tap-highlight-color: transparent;


		[class*='owl-'] {
			position: relative;
			color: $nav-color;
			font-size: $nav-font-size;
			margin: $nav-margin;
			padding: $nav-padding;
			background: $nav-background;
			display: inline-block;
			width: 42px;
			height: 42px;
			cursor: pointer;
			border: 3px solid var(--primary-white);
			border-radius: 25px;
			transition: border 0.3s linear;
			outline: none;
			

			svg {
				width: 15px;
				height: 24px;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -12px;
				margin-left: -9.5px;
				fill: var(--primary-white);
				transition: fill 0.3s linear;
			}

			&:hover {
				border-color: var(--primary-white);
				text-decoration: none;

				svg {
					fill: var(--primary-white);
				}
			}

			&:active {
				border-color: #47435d;

				svg {
					fill: #47435d;
				}
			}
		}

		.owl-prev {
			position: absolute;
			left: 4.375%;
		}

		.owl-next {
			transform: rotate(180deg);
			position: absolute;
			right: 4.375%;
		}
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		position: relative;
		z-index: 1;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;
			border: none;
			margin-top: 10px;
			outline: none;

			span {
				display: block;
				width: 9px;
				margin: 4px;
				height: 9px;
				font-size: 0;
				color: transparent;
				background: #382f64;
				-webkit-backface-visibility: visible;
				transition: background 0.3s linear;
				border-radius: $dot-rounded;
			}

			&.active,
			&:hover {
				span {
					background: var(--primary-red);
				}
			}
		}
	}
}

@media screen and (min-width: 1030px) {
	.owl-theme {
		.owl-nav {
			position: relative;
			max-width: 1030px;
			margin: auto;

			.owl-prev {
				position: absolute;
				left: 0;
				top: -220px;
			}

			.owl-next {
				position: absolute;
				right: 0;
				top: -220px;
			}
		}
	}
}
