@keyframes visioner {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.2;
    }
    20% {
        opacity: 0.4;
    }
    30% {
        opacity: 0.6;
    }
    40% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.7;
    }
    60% {
        opacity: 0.7;
    }
    70% {
        opacity: 0.8;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popup-cart {
    0% {
        bottom: -100%;
    }
    10% {
        bottom: -90%;
    }
    20% {
        bottom: -80%;
    }
    30% {
        bottom: -70%;
    }
    40% {
        bottom: -60%;
    }
    50% {
        bottom: -50%;
    }
    60% {
        bottom: -40%;
    }
    70% {
        bottom: -30%;
    }
    80% {
        bottom: -20%;
    }
    90% {
        bottom: -10%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes top-way {
    0% {
        top: -100%;
    }
    10% {
        top: -90%;
    }
    20% {
        top: -80%;
    }
    30% {
        top: -70%;
    }
    40% {
        top: -60%;
    }
    50% {
        top: -50%;
    }
    60% {
        top: -40%;
    }
    70% {
        top: -30%;
    }
    80% {
        top: -20%;
    }
    90% {
        top: -10%;
    }
    100% {
        top: 0;
    }
}