//Крестик
.close {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:hover {
      &:before,
      &:after {
        opacity: 0.7;
        transition: opacity 0.5s ease;
      }
    }
    &:before, &:after {
      position: absolute;
      left: 0;
      top: 11px;
      display: block;
      width: 100%;
      height: 2px;
      content: '';
      background-color: var(--primary-white);
      cursor: pointer;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
}


//Стрелки навигации
.arrow-left {
  transform: rotate(180deg);
}

//Стрелка раскрытия
.arrow-down {
  position: relative;
  padding-left: 6px;
  width: 10px;
  height: 5px;
  cursor: pointer;
  @media (min-width: $screen-sm) {
    padding-left: 3px;
  }
  &:hover {
    &:before,
    &:after {
      opacity: 0.7;
      transition: opacity 0.5s ease;
    }
  }
  &:before, &:after {
    position: absolute;
    top: -2px;
    display: block;
    width: 32%;
    height: 2px;
    content: '';
    background-color: var(--primary-medium);
    cursor: pointer;
    @media (min-width: $screen-sm) {
      width: 50%;
    }
  }
  &:before {
    transform: rotate(40deg);
  }
  &:after {
    margin-left: 3px;
    transform: rotate(-40deg);
  }

  &.open:before {
    transform: rotate(-40deg);
  }

  &.open:after {
    transform: rotate(40deg);
  }

}

//Красная кнопка
._button-link {
  padding: 12px 24px;
  color: var(--primary-white);
  background-color: var(--primary-red);
  border-radius: 50px;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    background-color: var(--secondary-red);
    transition: background-color 0.5s ease;
  }
  &:active {
    opacity: 0.7;
    transition: opacity 0.5s ease;
  }
}

//Надпись "смотреть все"
._link-look {
  color: var(--primary-red);
  font-weight: 500;
  cursor: pointer;
  &:hover {
    color: var(--secondary-red);
    transition: color 0.5s ease;
  }
  &:active {
    opacity: 0.7;
    transition: opacity 0.5s ease;
  }
}