.breadcrumbs {
    position: relative;
    margin-top: 80px;
    margin-bottom: 10px;
    @media (min-width: $screen-lg) {
        margin-top: 90px;
    }
}

.breadcrumbs__item {
    display: inline;
    font-size: 14px;
    color: var(--secondary-grey);
    &:not(:last-child)::after {
        content: "/";
    }
    &:last-child a, &:last-child span {
        color: var(--primary-dark);
    }
}

.breadcrumbs__link {
    margin: 0 10px 0 5px;
    color: var(--secondary-grey);
    transition: all 0.4s ease;
    cursor: pointer;
    &:hover {
        color: var(--primary-dark);
    }
}