.fancybox-toolbar {
    right: 0;
    top: 0;
    @media (min-width: $screen-sm) {
        right: 10%;
    }
    @media (min-width: $screen-md) {
        right: 20%;
    }
    @media (min-width: $screen-lg) {
        right: 30%;
    }
}

.fancybox-navigation .fancybox-button--arrow_left {
    left: 0;
    padding: 10px 15px;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-dark);
    @media (min-width: $screen-sm) {
        left: 10%;
    }
    @media (min-width: $screen-md) {
        left: 20%;
    }
    @media (min-width: $screen-lg) {
        left: 30%;
    }
}

.fancybox-navigation .fancybox-button--arrow_right {
    right: 0;
    padding: 10px 15px;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-dark);
    transform: rotate(180deg);
    @media (min-width: $screen-sm) {
        right: 10%;
    }
    @media (min-width: $screen-md) {
        right: 20%;
    }
    @media (min-width: $screen-lg) {
        right: 30%;
    }
}

.fancybox-slide--image .fancybox-content  {
}

.fancybox-image {
}

.fancybox-button--thumbs, .fancybox-button--zoom {
    display: none !important;
}