._input-index {
    padding: 12px 20px;
    background-color: transparent;
    border: 1px solid var(--primary-white);
    color: var(--primary-white);

    &::placeholder {
        color: var(--primary-white);
        font-family: Montserrat, Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
      @media screen and (min-width: $screen-md) {
        font-size: 14px;
      }
    }
    &:focus {
      box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, .1);
      transition: box-shadow 0.5s ease;
    }
}

._input-services {
    padding: 12px 20px;
    background-color: var(--primary-dark);
    color: var(--primary-white);

    &::placeholder {
        font-family: Montserrat, Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        @media screen and (min-width: $screen-md) {
            font-size: 14px;
        }
    }
    &:focus {
        box-shadow: inset 0 0 50px 0 rgba(255, 255, 255, .1);
        transition: box-shadow 0.5s ease;
    }
}