html, body {
    height: 100%;
    font-family: Montserrat, Arial, sans-serif;
}

h1 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.1;
    @media screen and (min-width: $screen-lg) {
      font-size: 48px;
    }
    @media screen and (min-width: $screen-xl) {
      font-size: 60px;
    }
}

._h1-installation {
    font-size: 30px;
}

h2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.2;
    @media  (min-width: $screen-lg) {
      font-size: 28px;
    }
    @media  (min-width: $screen-xl) {
      font-size: 30px;
    }
}
h3 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.67;
    @media  (min-width: $screen-lg) {
      font-size: 24px;
    }
}
p, a {
    font-size: 12px;
    line-height: 1.67;
    font-weight: 400;
    @media (min-width: $screen-md) {
      font-size: 14px;
    }
}

li {
    font-size: 12px;
    @media (min-width: $screen-md) {
        font-size: 14px;
    }
}

section {
    position: relative;
}

.body .active {
    overflow: hidden;
}

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    z-index: 90;
    width: 100%;
    height: 100%;
}

//Большой и красный текст
._red-big {
    color: var(--primary-red);
    font-size: 20px;
    @media (min-width: $screen-md) {
        font-size: 30px;
    }
}

._red {
    color: var(--primary-red);
}