.hamburger {
    position: relative;
    display: flex;
    height: 30px;
    width: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    &:hover {
        opacity: 0.7;
        transition: opacity 0.5s ease;
    }
    .bar--1, .bar--2, .bar--3 {
        position: relative;
        height: 3px;
        width: 100%;
        background: var(--primary-white);
        border-radius: 30px;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
    }
    &:hover {
        cursor: pointer;
    }
    .bar-- {
        &1 {
            animation: bar--1--rev .5s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
        }
        &2 {
            transform: scale(1);
            transition: transform .3s cubic-bezier(0.785, 0.135, 0.15, 0.86) ;
        }
        &3 {
            animation: bar--3--rev .5s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
        }
    }
    &.is-active {
        .bar-- {
            &1 {
                animation: bar--1 .5s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
            }
            &2 {
                transform: scale(0);
                transition: transform .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            }
            &3 {
                animation: bar--3 .5s cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
            }
        }
    }
}

@keyframes bar--1 {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(10px) rotate(0deg);
    }
    100% {
        transform: translateY(10px) rotate(45deg);
    }
}
@keyframes bar--3 {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-10px) rotate(0deg);
    }
    100% {
        transform: translateY(-10px) rotate(-45deg);
    }
}

@keyframes bar--1--rev {
    0% {
        transform: translateY(10px) rotate(45deg);
    }
    50% {
        transform: translateY(10px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
@keyframes bar--3--rev {
    0% {
        transform: translateY(-10px) rotate(-45deg);
    }
    50% {
        transform: translateY(-10px) rotate(0deg);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}
