._h1 {
  padding: 30px 0;
}

._h2 {
  padding-bottom: 20px;
  @media (min-width: $screen-md) {
      padding-bottom: 30px;
  }
}
._main-section {
  margin-top: 70px;
  @media (min-width: $screen-lg) {
      margin-top: 100px;
  }
  @media (min-width: $screen-xl) {
      margin-top: 120px;
  }
}

._last-section {
  margin-bottom: 50px;
  @media (min-width: $screen-lg) {
      margin-bottom: 100px;
  }
  @media (min-width: $screen-xl) {
      margin-bottom: 120px;
  }
}