* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin: 0;
}

// Защита от переполнения
img {
  max-width: 100%;
  height: auto;
}

// Обнуление отступов по умолчанию у списков
ul, li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style-position: inside;
}

p {
  margin: 0;
}

button {
  border: none;
  font-family: inherit;
  background: none;
  color: inherit;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
  outline: none;
  &:hover,
  &:active{
    outline: none;
  }
}