@mixin clients-slider {
    @include common-slider;
    .owl-stage {
        display: flex;
        align-items: center;
    }
}

@mixin news-slider {
    @include common-slider;
    .owl-theme .owl-nav {
        top: 35%;
    }
}

@mixin sales-slider {
    @include common-slider;
    .owl-theme .owl-nav {
        top: 15%;
    }
    .owl-item {
        height: 350px;
    }
}

@mixin intro-slider {
    .owl-dots {
        position: absolute;
        bottom: 15px;
        left: 43%;
        @media (min-width: $screen-sm) {
            left: 48%;
        }
        .owl-dot span {
            width: 7px;
            height: 7px;
            background-color: var(--secondary-red);
            border-radius: 10px;
        }
        .owl-dot.active span,
        .owl-dot:hover span {
            width: 9px;
            height: 9px;
            background: var(--primary-red);
        }
    }
}

@mixin common-slider {
    .owl-theme .owl-nav {
        position: absolute;
        top: 42%;
        max-width: none;
        @media  (min-width: $screen-sm) {
            top: -60px;
        }
        @media  (min-width: $screen-md) {
            top: -70px;
        }
        [class*='owl-'] {
            border: none;
            background-color: var(--seconadry-white);
            @media  (min-width: $screen-sm) {
                background-color: transparent;
            }
            img {
                margin-top: 3px;
                width: 40%;
                height: 40%;
                @media  (min-width: $screen-sm) {
                    margin-top: 0;
                    width: auto;
                    height: auto;
                }
            }
        }
        .owl-prev {
            top: 0;
            left: 0;
            text-align: center;
            @media  (min-width: $screen-sm) {
                right: 60px;
                left: auto;
                text-align: right;
            }
        }

        .owl-next {
            right: 0;
            top: 0;
            text-align: center;
            transform: rotate(0deg);
            @media  (min-width: $screen-sm) {
                right: 0;
                left: auto;
                text-align: right;
            }
        }
        .owl-prev::before, .owl-next::before {
            background-image: none;
        }
    }
}