@import '../librares/bootstrap/variables';

//Цвета
:root {

    --primary-dark: rgb(11, 11, 11);
    --secondary-dark: rgba(11, 11, 11, 0.3);

    --primary-red : #e21a56;

    --secondary-red: #680e29;

    --primary-medium: #b4b4b4;

    --primary-grey: #737373;

    --secondary-grey: #bababa;

    --primary-white: rgb(255, 255, 255);
   
    --seconadry-white: rgba(255, 255, 255, 0.7);
}

//screen variables
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
);

$screen-xs: 400px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-xs-max: $screen-sm - 1;
$screen-sm-max: $screen-md - 1;
$screen-md-max: $screen-lg - 1;
$screen-lg-max: $screen-xl - 1;

