//Затемнение
._darken {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  &:after, &:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background: var(--primary-dark);
    opacity: 0;
  }
  &:hover::before, &:hover::after {
    z-index: 1;
    opacity: 0.3;
    transition: opacity 0.5s ease
  }
}