{% set data = [
    {
        link: '/img/blocks/clients/client-icon1.svg',
    },
    {
        link: '/img/blocks/clients/client-icon2.svg',
    },
    {
        link: '/img/blocks/clients/client-icon3.svg',
    },
    {
        link: '/img/blocks/clients/client-icon4.svg',
    },
    {
        link: '/img/blocks/clients/client-icon5.svg',
    },
    {
        link: '/img/blocks/clients/client-icon6.svg',
    },
    {
        link: '/img/blocks/clients/client-icon7.svg',
    },
    {
        link: '/img/blocks/clients/client-icon8.svg',
    }
] %}
<section class="clients _main-section">
    <div class="container">
        <h2 class="clients__title _h2">Наши клиенты</h2>
    </div>
    <div class="clients__slider owl-carousel owl-theme">
        {% for item in data %}
            <div class="clients__slider-item">
                <img src="{{ item.link }}" alt="...">
            </div>
        {% endfor %}
    </div>
</section>
