<form>
    <div class="row">
        <div class="col-12 contact-form-services__input-block">
            <input class="contact-form-services__name _input-services" type="text" placeholder="Введите имя">
        </div>
        <div class="col-12 contact-form-services__input-block">
            <input class="contact-form-services__email _input-services" type="text" placeholder="Введите email">
        </div>
        <div class="col-12">
            <button class="contact-form-services__btn _button-link">Отправить</button>
        </div>
    </div>
</form>