<section class="contact-form-index _main-section">
    <div class="container">
        <h2 class="contact-form-index__title _h2">Получите полный расчёт проекта бесплатно</h2>
        <form>
            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 contact-form__input-block">
                    <input class="contact-form-index__name _input-index" type="text" placeholder="Введите имя">
                </div>
                <div class="col-6 col-md-4 col-lg-3 contact-form__input-block">
                    <input class="contact-form-index__email _input-index" type="text" placeholder="Введите email">
                </div>
                <div class="col-12 col-md-2 col-lg-2">
                    <button class="contact-form-index__btn _button-link">Отправить</button>
                </div>
            </div>
        </form>
    </div>
</section>