{% set data = [
    {
        name: "Промышленное освещение",
        col : "6",
        link: "/img/blocks/gallery/picture1.jpg"
    },
    {
        name: "Офисное освещение",
        col : "3",
        link: "/img/blocks/gallery/picture2.jpg"
    },
    {
        name: "Уличное освещение",
        col : "3",
        link: "/img/blocks/gallery/picture3.jpg"
    },
    {
        name: "Бытовое освещение и ЖКХ",
        col : "3",
        link: "/img/blocks/gallery/picture4.jpg"
    },
    {
        name: "Торговое освещение",
        col : "3",
        link: "/img/blocks/gallery/picture5.jpg"
    },
    {
        name:  "Архитектурное освещение",
        col : "3",
        link: "/img/blocks/gallery/picture6.jpg"
    },
    {
        name:  "Интерьерное освещение",
        col : "3",
        link: "/img/blocks/gallery/picture7.jpg"
    },
    {
        name:  "Системы управления освещением",
        col : "3",
        link: "/img/blocks/gallery/picture8.jpg"
    },
    {
        name:  "Спортивное освещение",
        col : "3",
        link: "/img/blocks/gallery/picture9.jpg"
    },
    {
        name: "Опоры освещения",
        col : "6",
        link: "/img/blocks/gallery/picture10.jpg"
    }
] %}
<section class="gallery _main-section">
    <div class="container">
        <h2 class="gallery__title">Светодиодное освещение</h2>
        <div class="row">
            {% for item in data %}
                <div class="gallery__item col-12 col-sm-6 col-md-{{ item.col }}">
                    <a class="_darken" href="#"><img src="{{ item.link }}" alt="..."></a>
                    <p class="gallery__item-caption">{{ item.name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>