<section class="how-work _main-section">
    <div class="container">
        <h2 class="how-work__title _h2">Как мы работаем</h2>
        <p class="how-work__text">
            Наши клиенты получают не только выгодные цены на оборудование систем освещения, но и полный комплекс услуг по реализации проекта «под ключ». Мы наглядно покажем реальную экономию и срок окупаемости приобретаемого светового оборудования.

            <br/><br/>Основная наша задача – внедрение энергосберегающих светодиодных систем, позволяющих значительно сокращать расходы и с умом использовать электроэнергию.

            <br/><br/>Офисы «Апекс энерго», куда вы сможете обратиться по вопросам систем освещения, находятся
            в Санкт-Петербурге, Ярославле и Архангельске.
        </p>
        <div class="row">
            <div class="col-lg-3">
                <p class="how-work__sub-title">1. Обращение</p>
                <p class="how-work__sub-text">
                    Принимаем запрос, разрабатываем техническое задание и готовим предварительное предложение
                </p>
            </div>
            <div class="col-lg-3">
                <p class="how-work__sub-title">2. Проектирование</p>
                <p class="how-work__sub-text">
                    Cоздаем проект, соответствующий задачам, которые поставил клиент
                </p>
            </div>
            <div class="col-lg-3">
                <p class="how-work__sub-title">3. Реализация</p>
                <p class="how-work__sub-text">
                    Поставляем и устанавливаем оборудование, в соответствии с требованиями и нормами
                </p>
            </div>
            <div class="col-lg-3">
                <p class="how-work__sub-title">4. Эксплуатация</p>
                <p class="how-work__sub-text">
                    После установки постоянно контролируем качество выполненной работы и оцениваем эффективность
                </p>
            </div>
        </div>
    </div>
</section>