{% set data = [
    {
        title: 'Промышленное освещение',
        sub: 'Экономия на электроэнергии от 60%, высвобождение мощностей от 15 КВТ, эффективность светодиодов 140 лм/вт',
        link: "/img/index/intro-back.jpg"
    },
    {
        title: 'Промышленное освещение',
        sub: 'Экономия на электроэнергии от 60%, высвобождение мощностей от 15 КВТ, эффективность светодиодов 140 лм/вт',
        link: "/img/index/intro-back.jpg"
    },
    {
        title: 'Промышленное освещение',
        sub: 'Экономия на электроэнергии от 60%, высвобождение мощностей от 15 КВТ, эффективность светодиодов 140 лм/вт',
        link: "/img/index/intro-back.jpg"
    }
] %}

<section class="intro">
    <div class="intro__slider owl-carousel owl-theme">
        {% for item in data %}
            <div class="intro__slider-item">
                <div class="container">
                    <div class="row">
                        <div class="col-11 col-sm-9 col-md-8 col-lg-6 col-xl-5 intro__text">
                            <h1 class="intro__text-title">{{ item.title }}</h1>
                            <p class="intro__text-sub-title">{{ item.sub }}</p>
                            <a href="#" class="intro__text-btn _button-link">Подробнее</a>
                        </div>
                    </div>
                </div>
                <img src="{{ item.link }}" alt="...">
            </div>
        {% endfor %}
    </div>
</section>