{% set data = [
    {
        link: '/img/blocks/news/news1.jpg',
        date: '23 августа 2018',
        text: 'Освещение больниц'
    },
    {
        link: '/img/blocks/news/news2.jpg',
        date: '23 августа 2018',
        text: 'Уличное освещение с экономией в 100 000 рублей'
    },
    {
        link: '/img/blocks/news/news3.jpg',
        date: '23 августа 2018',
        text: 'Освещение больниц'
    },
    {
        link: '/img/blocks/news/news4.jpg',
        date: '23 августа 2018',
        text: 'Светильники с отдаленным люминофором'
    },
    {
        link: '/img/blocks/news/news4.jpg',
        date: '23 августа 2018',
        text: 'Светильники с отдаленным люминофором'
    }
] %}
<section class="news _main-section">
    <div class="container">
        <div class="news__head _h2">
            <h2 class="news__head-title ">Новости</h2>
            <a href="#" class="news__head-link _link-look">Смотреть все</a>
        </div>
        <div class="news__slider owl-carousel owl-theme">
            {% for item in data %}
                <div class="news__slider-item">
                    <a class="news__slider-item-link _darken" href="#"><img src="{{ item.link }}" alt="..."></a>
                    <div class="news__caption">
                        <p class="news__caption-date">{{  item.date }}</p>
                        <p class="news__caption-text">{{  item.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>