{% set data = [
    {
        link: '/img/blocks/projects/project1.jpg',
    },
    {
        link: '/img/blocks/projects/project2.jpg',
    },
    {
        link: '/img/blocks/projects/project1.jpg',
    }
] %}
<section class="projects _main-section">
    <div class="container">
        <div class="projects__head _h2">
            <h2 class="projects__head-title">Проекты</h2>
            <a href="#" class="projects__head-link _link-look">Смотреть все</a>
        </div>
        <div class="projects__slider owl-carousel owl-theme">
            {% for item in data %}
                <div class="projects__slider-item">
                    <a class="_darken" href="#"><img src="{{ item.link }}" alt="..."></a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>