{% set data = [
    {
        link: '/img/blocks/reviews/review1.jpg',
    },
    {
        link: '/img/blocks/reviews/review2.jpg',
    },
    {
        link: '/img/blocks/reviews/review3.jpg',
    },
    {
        link: '/img/blocks/reviews/review4.jpg',
    },
    {
        link: '/img/blocks/reviews/review1.jpg',
    }
] %}
<section class="reviews _main-section">
    <div class="container">
        <h2 class="reviews__title _h2">Отзывы</h2>
        <div class="reviews__slider owl-carousel owl-theme">
            {% for item in data %}
                <div class="reviews__slider-item">
                    <a rel="group" class="_darken review-link" data-fancybox="other" href="{{ item.link }}"><img src="{{ item.link }}" alt="..."></a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>