{% set data = [
    {
        link: '/img/blocks/sales/sales-item.jpg',
        text: 'Светодиодный светильник
                        Geniled ЛПО 1200х600 90 500К
                        Опал',
        price: 'от 3590 ₽'
    },
    {
        link: '/img/blocks/sales/sales-item.jpg',
        text: 'Светодиодный светильник
                        Geniled ЛПО 1200х600 90 500К
                        Опал',
        price: 'от 3590 ₽'
    },
    {
        link: '/img/blocks/sales/sales-item.jpg',
        text: 'Светодиодный светильник
                        Geniled ЛПО 1200х600 90 500К
                        Опал',
        price: 'от 3590 ₽'
    },
    {
        link: '/img/blocks/sales/sales-item.jpg',
        text: 'Светодиодный светильникrty ret ey erty eraytb ertb
        rt ert ert ert
                        Geniled ЛПО 1200х600 90 500К
                        Опал',
        price: 'от 3590 ₽'
    },
    {
        link: '/img/blocks/sales/sales-item.jpg',
        text: 'Светодиодный светильник
                        Geniled ЛПО 1200х600 90 500К
                        Опал',
        price: 'от 3590 ₽'
    }
] %}
<section class="sales _main-section">
    <div class="container">
        <h2 class="sales__title _h2">Хиты продаж</h2>
        <div class="sales__slider owl-carousel owl-theme">
            {% for item in data %}
                <div class="sales__slider-item">
                    <div class="sales__slider-item-img">
                        <a href="#"><img src="{{ item.link }}" alt="..."></a>
                    </div>
                    <p class="sales__slider-item-text">{{ item.text }}</p>
                    <p class="sales__slider-item-price">{{ item.price }}</p>
                    <a class="sales__slider-item-btn _button-link" href="#">Заказать</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>