<section class="services _main-section">
    <div class="container">
        <h2 class="services__title _h2">Услуги</h2>
        <div class="row">
            {% for item in data %}
                <div class="services__item col-md-{{ item.col }}">
                    <a href="{{ item.link }}" class="services__item-link _darken"><img src="{{ item.back }}" alt="..."></a>
                    <div class="services__item-caption">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.text }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>