.electric-installation-about {
    &__title, &__text, &__data {
        color: var(--primary-dark);
    }
    & .row {
        justify-content: space-evenly;
    }
    &__data {
        display: flex;
        padding-top: 30px;
        align-items: center;
    }
    span {
        padding-right: 10px;
    }
    &__text {
        padding-top: 50px;
    }
}

.electric-installation-advantages {
    padding: 30px 0;
    background-color: var(--primary-dark);
    @media (min-width: $screen-sm) {
        padding: 50px 0;
    }
    @media (min-width: $screen-md) {
        padding: 100px 0;
    }
    &__title, &__item-text {
        color: var(--primary-white);
    }
    &__item {
        padding-top: 30px;
    }
    &__item-text {
        padding-top: 10px;
    }
}

.info {
    &__text {
        padding-bottom: 10px;
        color: var(--primary-dark);
    }

    &__list {
        list-style-type: disc;
        color: var(--primary-red);
    }
    span {
        color: var(--primary-dark);
    }

    &__list {
        padding-bottom: 20px;
    }

    &__list li {
        padding: 10px 0;
    }
}

.prof-installation-advantages {
    padding: 0;
    background-color: transparent;
    .row {
        padding-top: 20px;
    }
    &__title, &__item-text, &__text {
        color: var(--primary-dark);
    }

    &__text {
        padding-bottom: 20px;
    }

    &__item {
        display: flex;
        padding-bottom: 30px;
    }
    &__item-text {
        padding-left: 20px;
    }
}

.smart-light-advantages {
    padding: 0;
    background-color: transparent;
    .row {
        padding-top: 30px;
    }
    &__title, &__item-text, &__text {
        color: var(--primary-dark);
    }
    &__item {
        padding-bottom: 30px;
    }
    &__item-text {
        padding-top: 10px;
    }
}

.electric-installation-service-caption {
    position: absolute;
    z-index: 1;
    padding: 20px;
    width: 90%;
    height: auto;
    color: var(--primary-white);
}

._order {
    list-style-type: none;
    span {
        padding-left: 5px;
    }
}