.intro {
    margin-top: 0;
    padding-top: 65px;
    @include intro-slider;
    @media (min-width: $screen-md) {
        padding-top: 0;
    }
    img {
        width: auto;
        height: 350px;
        object-fit: cover;
        @media (min-width: $screen-sm) {
            height: 330px;
        }
        @media  (min-width: $screen-md) {
            height: 370px;
        }
        @media (min-width: $screen-lg) {
            height: 520px;
        }
        @media (min-width: $screen-xl) {
            height: 585px;
        }
    }
    &__text {
        position: absolute;
        z-index: 1;
        padding-top: 50px;
        padding-bottom: 50px;
        @media (min-width: $screen-md) {
            padding-top: 115px;
        }
        @media (min-width: $screen-lg) {
            padding-top: 135px;
            padding-bottom: 70px;
        }
        @media screen and (min-width: $screen-xl) {
            padding-top: 170px;
            padding-bottom: 105px;
        }
    }
    &__text-title {
        text-align: left;
        color: var(--primary-white);
    }
    &__text-sub-title {
        margin-top: 20px;
        margin-bottom: 30px;
        color: var(--primary-white);
    }
}

.how-work {
    &__title {
        padding-bottom: 0;
        text-align: left;
        @media screen and (min-width: $screen-md) {
            padding-bottom: 10px;
        }
    }
    &__sub-title {
        color: var(--primary-dark);
        padding-top: 30px;
        padding-bottom: 5px;
        font-size: 16px;
        @media screen and (min-width: $screen-md) {
            padding-bottom: 10px;
        }
    }
    &__text {
        padding-top: 20px;
        width: 80%;
        color: var(--primary-dark);
    }
    &__sub-text {
        width: 80%;
        color: var(--primary-dark);
    }
}

.video-content {
    padding-top: 15px;
    @media (min-width: $screen-md) {
        padding-top: 0;
    }
}