.clients {
    &__title {
        padding-bottom: 20px;
        text-align: left;
      @media (min-width: $screen-md) {
        padding-bottom: 30px;
      }
    }
    @include clients-slider;
    .clients__slider-item img {
        width: auto;
        height: auto;
        object-fit: cover;
    }
}
