.contact-form-services  {
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
    background: url('/img/electric-installation/contact-form-back.jpg');
    @media (min-width: $screen-md) {
        padding-top: 80px;
        padding-bottom: 100px;
    }
    &__name, &__email {
        margin-bottom: 10px;
        width: 266px;
    }
    &__title {
        padding-bottom: 10px;
        color: var(--primary-white);
    }
    &__text {
        padding-bottom: 30px;
        color: var(--primary-white);
    }
    &__btn {
        margin-top: 30px;
    }
}