.contact-form-index  {
    padding-top: 30px;
    padding-bottom: 40px;
    align-items: center;
    background-color: var(--primary-red);
    @media (max-width: $screen-xs) {
      & .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    @media (min-width: $screen-md) {
        padding-top: 80px;
        padding-bottom: 100px;
    }

    &__name, &__email {
        margin-bottom: 10px;
        width: 100%;
    }
    &__title {
        text-align: left;
        color: var(--primary-white);
    }
    &__btn {
        margin-top: 20px;
        background-color: var(--primary-dark) ;
        @media (min-width: $screen-md) {
            margin-top: 0;
        }
    }
}