.gallery {
     &__title {
        padding-bottom: 0;
         text-align: left;
      @media (min-width: $screen-md) {
          padding-bottom: 10px;
      }
    }
    .row {
        padding-left: 5px;
        padding-right: 5px;
    }
    &__item {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 20px;
        height: 100px;
        align-items: flex-end;
        @media (min-width: $screen-sm) {
            height: 200px;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
    &__item-caption {
        position: absolute;
        z-index: 1;
        padding: 20px;
        color: var(--primary-white);
    }
}