.news {
    margin-bottom: 70px;
    @media screen and (min-width: $screen-lg) {
        margin-bottom: 100px;
    }
    @media screen and (min-width: $screen-xl) {
        margin-bottom: 120px;
    }
    @include news-slider;
    &__item {
        margin-bottom: 40px;
    }
    &__head {
        display: flex;
        align-items: center;
        text-align: left;
      &-link {
        padding-left: 30px;
        padding-top: 5px;
      }
    }
    &__head-title {
        padding-bottom: 0;
    }
    &__caption {
      &-date {
        padding: 10px 0;
        color: var(--primary-grey);
      }
      &-text {
        color: var(--primay-dark);
      }
    }
   &__slider-item-link {
      height: 274px;
      img {
        width: 100%;
        height: 274px;
        object-fit: cover;
      }
   }
}
