.projects {
    padding: 0;
    @include common-slider;
    &__head {
      display: flex;
      align-items: center;
      text-align: left;
    }
    &__head-title {
        padding-bottom: 0;
    }
    &__head-link {
      padding-left: 30px;
      padding-top: 5px;
    }
    &__slider-item {
      height: 200px;
      @media screen and (min-width: $screen-sm) {
        height: 250px;
      }
      @media screen and (min-width: $screen-md) {
        height: 300px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
}

.projects h2, .projects div.h2 {
    padding-bottom: 0;
}
