.sales {
      @include sales-slider;
      &__title {
          text-align: left;
      }
      &__slider-item {
          height: 100%;
      }
      &__slider-item-img {
          padding: 20px 0;
          margin: 0 1px;
          height: 175px;
          border: 1px solid var(--primary-dark);
          img {
            width: auto;
            height: 100%;
            object-fit: contain;
          }
      }
      &__slider-item-text {
          padding: 10px 0;
          height: 80px;
          width: 90%;
          color: var(--primary-dark);
      }
      &__slider-item-price {
          padding: 15px 0;
          color: var(--primary-dark);
      }
      &__slider-item-btn {
          position: absolute;
          bottom: 0;
      }
}
