.services {
    &__title {
        padding-bottom: 0;
        text-align: left;
        @media (min-width: $screen-md) {
            padding-bottom: 10px;
        }
    }
    .row {
        padding-left: 5px;
        padding-right: 5px;
    }
    &__item {
        display: flex;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        height: 200px;
        align-items: flex-end;
        @media (min-width: $screen-md) {
            height: auto;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
    }
    &__item-caption {
        position: absolute;
        z-index: 1;
        padding: 20px;
        width: 90%;
        color: var(--primary-white);
        @media  (min-width: $screen-md) {
          height: 100px;
        }
        @media  (min-width: $screen-lg) {
          height: 120px;
        }
    }
    &__item-text {
        display: none;
        @media (min-width: $screen-lg) {
            display: block;
        }
    }
}
