<footer class="footer">
    <div class="container">
        <div class="row footer__top">
            <div class="col-12 col-sm-6 col-lg-12 col-xl-3 footer__logo">
                <a href="/"><img class="footer__logo" src="/img/logo-footer.png" alt="Логотип"></a>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4 col-xl-3 footer__point">
                <p class="footer__point-title">Ярославль</p>
                <p class="footer__point-address">Выставочная улица 5, офис 315</p>
                <p><a class="phone" href="tel:+74852679842">+7(4852)67-98-42</a></p>
                <p><a class="email" href="mailto:yaroslavl@apex-energy.ru">yaroslavl@apex-energy.ru</a></p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4 col-xl-3 footer__point">
                <p class="footer__point-title">Архангельск</p>
                <p class="footer__point-address">Московский проспект д.25, офис 12</p>
                <p><a class="phone" href="tel:+78182664770">+7(8182)66-47-70</a></p>
                <p><a class="email" href="mailto:arh@apex-energy.ru">arh@apex-energy.ru</a></p>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4 col-xl-3 footer__point">
                <p class="footer__point-title">Санкт-Петербург</p>
                <p class="footer__point-address">Большеохотинский пр., д. 11</p>
                <p><a class="phone" href="tel:+78129231796">+7(812)923-17-96</a></p>
                <p><a class="email " href="mailto:spb@apex-energy.ru">spb@apex-energy.ru</a></p>
            </div>
        </div>
        <div class="row footer__bottom">
            <div class="col-12 col-sm-6 col-lg-5">
                <p class="footer__bottom-copyright">
                    ©2016 ООО «Апекс-энерго». Все права защищены.
                </p>
            </div>
            <div class="footer__bottom-reqs col-12 col-sm-6 col-lg-7">
                <p class="footer__requisites"><span>ИНН 7602119077</span><span>КПП 760201001</span><br><span>ОГРН 1157627022618</span></p>
            </div>    
        </div>
    </div>
</footer>