<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2 header__logo">
                <a href="/"><img src="/img/logo-header.png" alt="Логотип"></a>
                <div class="_hamburger hamburger" onclick="this.classList.toggle('is-active');">
                    <div class="bar--1"></div>
                    <div class="bar--2"></div>
                    <div class="bar--3"></div>
                </div>
            </div>
            <div class="col-lg-10 header__menu-wrap">
                <div class="col-md-8 col-lg-7 header__menu">
                    <ul class="header-menu__list">
                        <li class="header-menu__list-item"><a class="header-menu__link" href="#">Каталог</a></li>
                        <li class="header-menu__list-item"><a class="header-menu__link drop-list-link" href="#">Услуги<button type="button" class="arrow-down"></button></a>
                            <ul class="drop-list">
                                <li class="drop-list__item"><a class="drop-list__item-link" href="electric-installation.html">Электромонтажные работы</a>
                                    <ul class="drop-second-list">
                                        <li><a class="drop-second-list__item"  href="prof-installation.html">Профессиональный
                                                монтаж</a></li>
                                        <li><a class="drop-second-list__item"  href="design.html">Проектирование</a>
                                        </li>
                                        <li><a class="drop-second-list__item"  href="laying-networks.html">Прокладка
                                                сетей</a></li>
                                        <li><a class="drop-second-list__item"  href="smart-light.html">Умный свет</a></li>
                                        <li><a class="drop-second-list__item"  href="energy-audit.html">Энергоаудит</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="header-menu__list-item"><a class="header-menu__link" href="#">Дилерам</a></li>
                        <li class="header-menu__list-item"><a class="header-menu__link" href="#">Энергосервис</a></li>
                        <li class="header-menu__list-item"><a class="header-menu__link" href="#">Еще</a><button type="button" class="arrow-down"></button></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-xl-2 header-menu__list-item header__address">
                    <a class="header__address-link drop-list-link" href="#">Нижний Новгород<button type="button" class="arrow-down"></button></a>
                    <ul class="drop-list">
                        <li>Москва</li>
                        <li>Санкт-Петербург</li>
                        <li>Сочи</li>
                        <li>Астрахань</li>
                        <li>Чето еще</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-xl-3 header__phone">
                    <a class="header__phone-link" href="tel:+78124438463">+7(812)443-84-63</a>
                    <a class="header__phone-link" href="mailto:spb@apex-energy.org">spb@apex-energy.org</a>
                </div>
            </div>
        </div>
    </div>
</header>