<div class="subheader">
    <div class="container">
        <div class="row">
            <div class="subheader__title col-lg-8 col-xl-6">
                <p class="subheader__title-text">Освещение целого предприятия или города бесплатно, за счет инвестора</p>
            </div>
            <div class="col-lg-3 col-xl-5">
                <a href="#" class="subheader__more">Подробнее</a>
            </div>
            <div class="col-lg-1 subheader__close">
                <button class="close" type="button"></button>
            </div>
        </div>
    </div>
</div>