.footer {
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: var(--primary-dark);
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &-reqs {
            display: flex;
            text-align: justify;
        }
    }
    &__logo {
        padding-top: 4%;
        text-align: left;
        @media (min-width: $screen-lg) {
            padding-top: 2%;
        }
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__point {
        margin-right: auto;
        margin-top: 30px;
        &-title {
            padding-bottom: 10px;
            font-size: 16px;
            color: var(--primary-white);
        }
        &-address, & .phone {
            padding-bottom: 0;
            color: var(--primary-white);
        }
        & .email {
            color: var(--primary-red);
        }
    }
    &__bottom-copyright {
        width: 80%;
        padding-top: 30px;
        color: var(--primary-medium);
        @media  (min-width: $screen-sm) {
            padding-top: 50px;
        }
        @media (min-width: $screen-md) {
            width: 100%;
        }
    }

    &__requisites {
        padding-top: 30px;
        color: var(--primary-medium);
        text-align: left;
        @media  (min-width: $screen-sm) {
            padding-top: 50px;
        }
        @media (min-width: $screen-lg) {
            margin-left: auto;
        }
        span {
            padding-right: 20px;
            @media (min-width: $screen-lg) {
                padding-left: 50px;
                padding-right: 0;
            }
        }
        br {
            @media screen and (min-width: $screen-lg) {
                display: none;
            }
        }
    }
}


