.header-menu__list {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    @media (min-width: $screen-lg) {
        flex-direction: row;
    }
    &-item {
        padding: 10px 0;
        @media screen and (min-width: $screen-lg) {
            padding: 0;
        }
    }
}

.header-menu__link {
    font-size: 18px;
    color: var(--primary-white);
    @media screen and (min-width: $screen-lg) {
        font-size: 14px;
    }
    &:hover {
        opacity: 0.7;
        transition: opacity 0.5s ease;
    }
}

.drop-list {
    position: relative;
    display: none;
    @media (min-width: $screen-lg) {
        position: absolute;
        top: 42px;
        z-index: 110;
        padding: 20px;
        background-color: var(--primary-dark);
    }
    &.active {
        display: block;
        transition: display 0.5s ease;
    }
    &__item {
        padding-bottom: 10px;
        color: var(--primary-white);
    }
    &__item-link {
        font-size: 14px;
        font-weight: 600;
        color: var(--primary-grey);
    }
    li {
        cursor: pointer;
    }
}
.drop-second-list__item {
    border: 1px solid var(--secondary-white);
    font-size: 12px;
    color: var(--primary-grey);
}