.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    height: 65px;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-dark);
    transition: height 0.3s ease;
    @media (min-width: $screen-lg) {
        flex-direction: row;
        height: 65px;
        .hamburger {
            display: none;
        }
    }
    &.active {
        height: 100%;
    }
    & .row {
        margin-left: 0;
        margin-right: 0;
        padding-top: 10px;
        align-items: center;
    }
    &__menu {
        padding-left: 0;
        @media  (min-width: $screen-lg) {
            padding-left: 15px;
        }
    }
    &__menu-wrap {
        display: none;
        padding-bottom: 20px;
        padding-left: 0;
        padding-right: 0;
        @media screen and (min-width: $screen-lg) {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding-bottom: 10px;
        }
        &.active {
            display: block;
        }
    }
    &__logo {
        display: flex;
        padding: 0;
        justify-content: space-between;
        align-items: center;
    }
    &__logo  img {
        object-fit: cover;
    }
    &__logo ._hamburger {
        margin-bottom: 10px;
        @media (min-width: $screen-lg) {
            display: none;
        }
    }

    &__phone {
        display: flex;
        padding-top: 20px;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
        @media screen and (min-width: $screen-lg) {
            padding-top: 0;
        }
    }

    &__phone-link {
        color: var(--primary-white);
        text-align: left;
        font-size: 12px;
        @media screen and (min-width: $screen-lg) {
            text-align: right;
        }
    }

    &__address {
        padding-top: 20px;
        padding-right: 0;
        padding-left: 0;
        text-align: left;
        @media screen and (min-width: $screen-lg) {
            padding-top: 0;
            text-align: left;
        }
    }

    &__address ul {
        @media (min-width: $screen-lg) {
            padding: 10px;
        }
    }

    &__address li {
        padding: 5px 0;
        color: var(--primary-grey);
        font-size: 12px;
        text-align: left;
    }

    &__address-link {
        font-size: 12px;
        color: var(--primary-white);
        border-bottom: 1px dashed var(--primary-grey);
    }
}


