.subheader {
    position: fixed;
    display: none;
    top: 65px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    height: 36px;
    background-color: var(--primary-red);
    justify-content: space-evenly;
    @media (min-width: $screen-xl) {
        display: block;
    }
    &__title {
        padding-left: 0;
    }
    &__title-text {
        margin: 0;
        padding-bottom: 0;
        line-height: 1;
        color: var(--primary-white);
    }
    & .row {
        padding: 5px 0;
        margin-left: 0;
        margin-right: 0;
        align-items: center;
    }
    &__more {
        line-height: 1;
        text-decoration: underline;
        color: var(--primary-white);
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            transition: opacity 0.5s ease;
        }
        &:active {
            opacity: 0.5;
            transition: opacity 0.5s ease;

        }
    }
    &__close  {
        padding-right: 0;
        text-align: right;
        line-height: 1;
    }
}